@model Partitu.Models.PartituraModel

@{
    ViewBag.Title = "PartituraCadastrar";
}

<h2>PartituraCadastrar</h2>
<div class="container">

@using (Html.BeginForm("partituracadastrar", "partitura", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PartituraModel</legend>

        <div class="row">
        <div class="editor-label col-md-6">
            @Html.LabelFor(model => model.nome)
        </div>
        <div class="editor-field col-md-6">
            @Html.EditorFor(model => model.nome)
            @Html.ValidationMessageFor(model => model.nome)
        </div>
        </div>

        <div class="row">
        <div class="editor-label col-md-6">
            @Html.LabelFor(model => model.descricao)
        </div>
        <div class="editor-field col-md-6">
            @Html.EditorFor(model => model.descricao)
            @Html.ValidationMessageFor(model => model.descricao)
        </div>
        </div>

         <div class="row" >
        <div class="editor-label col-md-6">
          Carregar arquivo:
        </div>
        <div class="editor-field col-md-6">
         <input type="file" name="file" accept="rar, zip, jpg, jpeg, png" /> 
        </div>
        </div>

        <div class="row" >
        <div class="editor-label col-md-6">
            @Html.LabelFor(model => model.instrumentos)
        </div>
        <div class="editor-field col-md-6">
            @Html.EditorFor(model => model.instrumentos)
            @Html.ValidationMessageFor(model => model.instrumentos)
        </div>
        </div>

        <div class="row">
        <div class="editor-label col-md-6">
            @Html.LabelFor(model => model.artista)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.artista)
            @Html.ValidationMessageFor(model => model.artista)
        </div>
        </div>

        <div class="row">
        <div class="editor-label col-md-6">
            @Html.LabelFor(model => model.musica)
        </div>
        <div class="editor-field col-md-6">
            @Html.EditorFor(model => model.musica)
            @Html.ValidationMessageFor(model => model.musica)
        </div>
        </div>
        
        
        <div class="row">
        <div class="editor-label col-md-6">
            @Html.LabelFor(model => model.preco)
        </div>
        <div class="editor-field col-md-6">
            @Html.EditorFor(model => model.preco)
            @Html.ValidationMessageFor(model => model.preco)
        </div>
        </div>

        
        <div class="row">
        <div class="editor-label col-md-6">
            @Html.LabelFor(model => model.transcricao)
        </div>
        <div class="editor-field col-md-6">
            @Html.EditorFor(model => model.transcricao)
            @Html.ValidationMessageFor(model => model.transcricao)
        </div>
        </div> 

        
        <div class="row">
        <div class="editor-label col-md-6">
            @Html.LabelFor(model => model.disponivel)
        </div>
        <div class="editor-field col-md-6">
            @Html.EditorFor(model => model.disponivel)
            @Html.ValidationMessageFor(model => model.disponivel)
        </div>
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


</div>