
@{
    ViewBag.Title = "FileUpload";
}
@*
        @Scripts.Render("~/Scripts/jquery.MultiFile.js")
        @Scripts.Render("~/Scripts/jquery.blockUI.js")
        @Scripts.Render("~/Scripts/jquery.form.js")
        @Scripts.Render("~/Scripts/jquery.js")
        @Scripts.Render("~/Scripts/jquery.MetaData.js")
        @Scripts.Render("~/Scripts/jquery.MultiFile.pack.js")
        @Scripts.Render("~/Scripts/jquery.validate.js")
        *@



<h2>FileUpload</h2>

 @using (Html.BeginForm("FileUpload","FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
  {


     @Html.EditorForModel()

     <hr />
    <input type="file" name="file" id="file" onchange="cha()" />
    <input type="submit" value="enviar"/>

 }

 <script type="text/javascript">
  
 </script>
