@model Repositorio.Endereco

@{
    ViewBag.Title = "Home Page";
}<div class="container" style="margin-top:100px; padding-bottom:50px";> 

@if(User.Identity.IsAuthenticated==true){ <h1>Logado</h1>}else{<h1>Não logado</h1>}
 Asas dasda 
 <h1>
 @if(ViewBag.nomeUser != null ){@ViewBag.nomeUser   @User.Identity.Name}
                                                                           
                                                                           </h1>
 @Html.LabelFor(x =>x.bairro): @Html.Label(Model.bairro)
 @Html.LabelFor(x =>x.cidade): @Html.EditorFor(x => x.cidade)
</div>