@model Partitu.Models.UsuarioModel
@{
    ViewBag.Title = "Login";
}

<div class="container" align="center">
<h2>Login</h2>



@using (Html.BeginForm("Login", "Acesso", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(x=>x.email)
            @Html.EditorFor(x => x.email)
            @Html.ValidationMessageFor(x => x.email)
        </div>
        <div class="col-md-6">
            
            @Html.LabelFor(x=>x.senha)
            @Html.PasswordFor(x=>x.senha)
            @Html.ValidationMessageFor(x => x.senha)
        </div>

        <input type="submit" value="Logar" />
    </div>   
}

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
