@model Partitu.Models.VendedorModel

@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { entype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>VendedorModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descricao)
            @Html.ValidationMessageFor(model => model.descricao)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.file)
        </div>
        <div class="editor-field">
         <input type="file" id="file"  value=""/>
            @Html.EditorFor(model => model.file)
            @Html.ValidationMessageFor(model => model.file)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.foto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.foto)
            @Html.ValidationMessageFor(model => model.foto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nome)
            @Html.ValidationMessageFor(model => model.nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.senha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.senha)
            @Html.ValidationMessageFor(model => model.senha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.confirmarSenha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.confirmarSenha)
            @Html.ValidationMessageFor(model => model.confirmarSenha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cpf)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cpf)
            @Html.ValidationMessageFor(model => model.cpf)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.data_nascimento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.data_nascimento)
            @Html.ValidationMessageFor(model => model.data_nascimento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.data_cadastro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.data_cadastro)
            @Html.ValidationMessageFor(model => model.data_cadastro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nivel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nivel)
            @Html.ValidationMessageFor(model => model.nivel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fk_endereco)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fk_endereco)
            @Html.ValidationMessageFor(model => model.fk_endereco)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.codS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.codS)
            @Html.ValidationMessageFor(model => model.codS)
        </div>

        <p>
            <input type="submit" value="Create" onclick="aa();" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    function aa() {

        alert("asads");
        
       }

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
